@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200&display=swap");

* {
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  overflow-x: hidden !important;
  overflow-y: auto !important ;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.16em;
}
h1 {
  text-transform: uppercase;
  font-size: 32px;
  /* word-wrap: break-word; */
  line-height: 2.5rem;
  font-weight: normal;
  /* font-weight: 100; */
  font-weight: 200;
  color: #fff;
}

h2 {
  text-transform: uppercase;
  font-weight: 100;
  color: #fff;
  font-size: 14px;
}

h3 {
  text-transform: uppercase;
  font-size: 27px;
  font-weight: normal;
  font-weight: 100;
  color: black;
}

h4 {
  font-size: 13px;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  h1,
  h3 {
    font-size: 36px;
  }
  h2 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
}

#main-content {
  width: 100%;
  overflow-x: hidden !important;
  /* height: 667px; */
}

#header {
  padding: 0 15px;
  background-color: #fff;
  top: 0;
  left: 50%;
  right: 50%;
  width: 100vw;
  min-height: 49px;
  display: flex;
}

#header .inner {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 20px 0px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#header .logo {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.16em;
}

#header .nav-links {
  display: none;
}

@media (min-width: 767px) {
  #header .nav-links {
    display: flex;
    width: 70%;
    justify-content: space-around;
    list-style-type: none;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.16em;
  }
}

@media (min-width: 1200px) {
  #header .nav-links {
    width: 60%;
    font-size: 14px;
  }
}

#header .hamburger {
  position: relative;
  display: block;
  width: 30px;
  /* height: 30px; */
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: 101;
  padding: 0px;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: #010101;
  margin: 6px 0px;
  transition: 0.4s;
  z-index: 102;
}

.hamburger.is-active:before {
  background-color: #757575;
  transform: rotate(-45deg) translate(-3px, 7px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-3px, -7px);
  background-color: #757575;
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100vw;
  /* width:100%; */
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: rgba(1, 1, 1, 0.9);
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav-link {
  display: block;
  text-align: center;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  padding: 12px 16px;
  color: #757575;
  font-size: 20px;
}

.mobile-nav-link:hover {
  color: white;
  transition: 0.4s;
}

@media (min-width: 767px) {
  .mobile-nav {
    display: none;
  }

  #header .hamburger {
    display: none;
  }
}

#cover {
  position: relative;
}
#cover .info {
  position: absolute;
  display: block;
  z-index: 93;
  padding-left: 15px;
  right: 0;
  /* top: 55vh; */
  bottom: 28%;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 480px) {
  #cover .info {
    bottom: 20%;
  }
}

@media (min-width: 992px) {
  #cover .info {
    padding-left: 30px;
  }
}

#cover .image1 {
  display: block;
  height: 100vh;
  object-fit: contain;
}

.image3 {
  max-width: 100%;
}

#feature {
  margin-top: 60px;
  display: block;
}

@media (min-width: 767px) {
  #feature {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    overflow: hidden;
    margin-bottom: 60px;
    /* outline: 4px solid green; */
  }
}

#feature .image2 {
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 767px) {
  .feature-responsive {
    width: 50%;
    padding: 0.5em;
  }

  #feature .image2 {
    object-fit: cover;
    min-height: 400px;
  }
}

#feature .description {
  width: 100%;
  float: none;
  padding: 0;
  display: block;
  margin-bottom: 60px;
  color: #010101;
  font-size: 14px;
  line-height: 2rem;
  margin-top: 45px;
  display: block;
}

@media (min-width: 767px) {
  #feature .description {
    font-size: 16px;
  }
}

#content {
  margin-top: 60px;
  display: block;
}

@media (min-width: 767px) {
  #content {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    overflow: hidden;
    margin-bottom: 60px;
  }
}
#content .description {
  width: 100%;
  float: none;
  padding: 0;
  display: block;
  margin-bottom: 60px;
  color: #010101;
  font-size: 14px;
  line-height: 2rem;
  /* margin-top: 45px; */
  display: block;
}

@media (min-width: 767px) {
  #content .description {
    font-size: 16px;
  }
}

#content .image3 {
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 767px) {
  #content .feature-responsive {
    width: 50%;
    padding: 0.5em;
  }

  #content .image3 {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 992px) {
  #content .image3 {
    object-fit: cover;
    width: 100%;
    max-height: 500px;
  }
}

#footer {
  width: 100%;
  border-top: 1px solid #ebebeb;
  color: #757575;
  font-weight: 200;
  padding: 30px 0;
  margin: 0 0 30px;
}

#footer .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#feature,
#footer .inner,
#kew-grid,
#content {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px) {
  #feature,
  #footer .inner,
  #kew-grid,
  #content {
    padding-left: 30px;
    padding-right: 30px;
  }
}


@media (min-width: 992px) {
  #feature,
  #footer .inner,
  #kew-grid,
  #content {
    padding-left: 60px;
    padding-right: 60px;
  }
}

#cover .image-full-width {
  width: 100%;
}

a:link,
a:visited {
  text-decoration: none;
}

#footer .info-policy {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 50% 50%;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 12px;
}

#footer .info-author {
  grid-template-columns: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 12px;
}

#footer .socials {
  display: grid;
  width: 80%;
  grid-template-columns: 25% 25% 25% 25%;
  justify-items: center;
  padding: 30px 0 10px 0;
}

@media (min-width: 767px) {
  #footer .socials {
    width: 70%;
  }
}

a {
  color: #757575;
}

a:hover {
  color: #010101;
  transition: 0.4s ease-in;
}

#kew-grid .artwork-info {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  height: 120px;
}

#kew-grid .artwork-link {
  color: #010101;
  letter-spacing: 0.16em;
  line-height: 20px;
}

#kew-grid .grid-btn-container,
.grid-btn-container-available {
  position: absolute;
  height: fit-content;
  padding: 60px 0 0;
  line-height: 0;
  margin-bottom: 10px;
}

@media (min-width: 500px) {
  #kew-grid .grid-btn-container,
  .grid-btn-container-available {
    padding: 70px 0 0;
  }
}

#kew-grid .artwork-price {
  margin-bottom: 0px;
  letter-spacing: 0.16em;
  margin-top: 4px;
}
#kew-grid .artwork-btn {
  padding: 12px 9px 8px;
  background-color: #010101;
  color: #fff;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.16em;
  font-size: 11px;
  font-weight: 100;
  line-height: 20px;
  cursor: pointer;
}

#kew-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 290px;
  padding-top: 4em 0em;
  overflow-x: hidden !important;
  overflow-y: hidden !important ;
  justify-content: center;
  margin: 0 auto;
}

/* @media (min-width: 375px) {
  #kew-grid {
  grid-template-columns: 345px;
  }
} */

@media (min-width: 500px) {
  #kew-grid {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 85%;
  }
}
@media (min-width: 767px) {
  #kew-grid {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 6em 0em;
  }
  #kew-grid #grid-img {
    flex-grow: 2;
  }
}

@media (min-width: 992px) {
  #kew-grid {
    gap: 2.5rem;
  }

  @media (min-width: 1200px) {
    #kew-grid {
      gap: 2.5rem;
      max-width: 80%;
    }
  }
}

#kew-grid #grid-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#kew-grid #grid-img:hover {
  cursor: pointer;
}

.fade-in {
  opacity: 0;
  transition: opacity 8000ms cubic-bezier(0.18, 1, 0.21, 1);
}

.fade-in.appear {
  opacity: 1;
  transform: none;
  transition: transform 4000ms cubic-bezier(0.18, 1, 0.21, 1),
    opacity 2500ms cubic-bezier(0.18, 1, 0.21, 1);
}

i {
  font-size: 1.25em;
}

@media (min-width: 767px) {
  i {
    font-size: 1.5em;
  }
}

#feature-panel {
  height: auto !important;
  min-height: 400px;
}

.image-cover-full-width {
  padding: 24em;
  background-image: url(./assets/DSC_9289_opt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.feature-cover-full-width {
  padding: 7em;
  background-image: url(./assets/DSC_9286_opt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin: 60px 0px; */
}

@media (min-width: 767px) {
  .feature-cover-full-width {
    padding: 10em;
  }
}

@media (min-width: 992px) {
  .feature-cover-full-width {
    padding: 14em;
  }
}

.feature-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#central-title {
  /* display: flex; */
  text-align: center;
  /* flex-direction: column; */
  width: 100%;
}

.title {
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 32px;
}

.sub-title {
  color: #fff;
  font-size: 16px;
  line-height: 1.5em;
}
